<%- include('header') -%>

    <div class="box" id="heading">
            <h1 style="color: purple;"><%= listTitle %>💜</h1>
    </div>
    <div class="box">
        
            <!-- <li>Eat Breakfast</li>
            <li>Eat Lunch</li>
            <li>Eat Dinner</li> -->
            <% newList.forEach(item => { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                        <p><%= item.name %></p>
                    </div>
                    <input type="hidden" name="listForDelete" value="<%= listTitle %>">
                </form>
            <% }) %>
            <form class="item" action="/" method="POST">
                <input type="text" name="todo" placeholder="What to do?" autocomplete="off">
                <button type="submit" name="list" value="<%= listTitle %>" >+</button>
            </form>
    </div>
    <a href="/about">About</a>

<%- include('footer') -%>