<%- include('header') -%>

    <div class="box" id="heading">
            <h1 style="color: purple;"><%= listTitle %>💜</h1>
    </div>
    <div class="box">
        
            <!-- <li>Eat Breakfast</li>
            <li>Eat Lunch</li>
            <li>Eat Dinner</li> -->
            <% for (let i=0; i<newList.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newList[i] %></p>
                </div>
            <% } %>
            <form class="item" action="/" method="POST">
                <input type="text" name="todo" placeholder="What to do?" autocomplete="off">
                <button type="submit" name="list" value="<%= listTitle %>" >+</button>
            </form>
    </div>
    <a href="/about">About</a>

<%- include('footer') -%>